@import '~antd/dist/antd.css';

[data-theme="light"] {
    --primary-color: #0aa679;
    --bg-primary-color: #f5f5f5;
    --text-color: black;
    --bg-skeleton: white;
    --bg-shimmer: rgba(0,0,0,0.3);
    --box-shadow: #848484;
}

[data-theme="dark"] {
    --primary-color: white;
    --bg-primary-color: #18191a;
    --text-color: #fffff2;
    --bg-skeleton: #ccc;
    --box-shadow: #e1e1e1;

}

:root {
    --height-header: 60px;
    --height-avatar: 35px;
    --width-avatar: 35px;
    --blue: #157ed4;
}

p {
    margin: 0;
}

.separate {
    border-top: 1px solid var(--text-color);
    opacity: 0.8;
    width: 100%;
}
