.skeleton {
  background-color: #f2f2f2;
  overflow: hidden;
  border-radius: 5px;

  &.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  &.text {
    height: 16px;
  }

  .shimmer {
    top: 0;
    bottom: 0;
    width: 100%;
    background: #eee;
    background: linear-gradient(110deg, #d1d1d1 8%, #c9c8c8 18%, #d1d1d1 33%);
    background-size: 200% 100%;
    animation: shimmer 1.5s linear infinite;
  }
}

@keyframes shimmer {
  to {
    background-position-x: -200%;
  }
}