.news {
  box-shadow: 0 0px 3px rgb(132, 132, 132);
  min-height: 22px;
  // &-wrapper {
  // }
  &-author {
    img {
      width: var(--width-avatar);
      height: var(--height-avatar);
      border-radius: 50%;
      box-shadow: 0 0 8px #000;
      overflow: hidden;
      cursor: pointer;
    }
  }
  &-author-name {
    .name {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  &-tags {
    .tag {
      color: #157ed4;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
